
USE [wasel]
GO
/****** Object:  Table [dbo].[Bid]    Script Date: 11/30/2025 11:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bid](
	[BID_ID] [int] IDENTITY(1,1) NOT NULL,
	[SUBMISSION_DATE] [date] NULL,
	[PROPOSED_PRICE] [decimal](18, 2) NULL,
	[PROPOSED_TIMELINE] [nvarchar](100) NULL,
	[BID_DESCRIPTION] [nvarchar](max) NULL,
	[SELLER_ID] [int] NOT NULL,
	[TENDER_ID] [int] NOT NULL,
	[BID_STATUS] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Buyer]    Script Date: 11/30/2025 11:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buyer](
	[BUYER_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NULL,
	[PROCUREMENT_DEPARTMENT] [nchar](100) NULL,
	[CR_CERTIFICATE_FILE] [sql_variant] NULL,
PRIMARY KEY CLUSTERED 
(
	[BUYER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contract]    Script Date: 11/30/2025 11:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contract](
	[CONTRACT_ID] [int] IDENTITY(1,1) NOT NULL,
	[CONTRACT_VALUE] [decimal](18, 2) NULL,
	[START_DATE] [date] NULL,
	[END_DATE] [date] NULL,
	[PAYMENT_TERMS] [nvarchar](200) NULL,
	[DELIVERY_SCHEDULE] [nvarchar](200) NULL,
	[STATUS] [nvarchar](50) NULL,
	[CONTRACT_DOCUMENT_URL] [nvarchar](255) NULL,
	[BID_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CONTRACT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Criteria]    Script Date: 11/30/2025 11:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Criteria](
	[CRITERIA_NUM] [int] IDENTITY(1,1) NOT NULL,
	[TENDER_ID] [int] NOT NULL,
	[CRITERIA_NAME] [nvarchar](100) NULL,
	[CRITERIA_DESCRIPTION] [nvarchar](255) NULL,
	[WEIGHT] [decimal](5, 2) NULL,
	[DELIVERY_TIME] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[CRITERIA_NUM] ASC,
	[TENDER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerSupport]    Script Date: 11/30/2025 11:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerSupport](
	[CS_MEMBER_ID] [int] IDENTITY(1,1) NOT NULL,
	[CS_MEMBER_FIRSTNAME] [nvarchar](100) NULL,
	[CS_MEMBER_LASTNAME] [nvarchar](100) NULL,
	[CS_MEMBER_PHONE] [nvarchar](20) NULL,
	[CS_MEMBER_EMAIL] [nvarchar](150) NULL,
	[USER_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CS_MEMBER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 11/30/2025 11:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[FEEDBACK_NUM] [int] IDENTITY(1,1) NOT NULL,
	[COMMENT] [nvarchar](max) NULL,
	[FEEDBACK_DATE] [date] NULL,
	[SELLER_ID] [int] NOT NULL,
	[BUYER_ID] [int] NOT NULL,
	[TENDER_ID] [int] NOT NULL,
	[RATING] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[FEEDBACK_NUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 11/30/2025 11:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[INVOICE_NUM] [int] IDENTITY(1,1) NOT NULL,
	[INVOICE_TIME] [time](7) NULL,
	[INVOICE_DATE] [date] NULL,
	[PAYMENT_NUM] [int] NOT NULL,
	[CONTRACT_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[INVOICE_NUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Message]    Script Date: 11/30/2025 11:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Message](
	[MESSAGE_NUM] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NOT NULL,
	[MESSAGE_TEXT] [nvarchar](max) NULL,
	[SENT_DATE] [datetime] NULL,
	[SENDER_ID] [int] NOT NULL,
	[RECEIVER_ID] [int] NOT NULL,
	[IS_READ] [bit] NOT NULL,
	[READ_AT] [datetime] NULL,
	[MESSAGE_READ_STATUS] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MESSAGE_NUM] ASC,
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 11/30/2025 11:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PAYMENT_NUM] [int] IDENTITY(1,1) NOT NULL,
	[CONTRACT_ID] [int] NOT NULL,
	[PAYMENT_DATE] [date] NULL,
	[AMOUNT] [decimal](18, 2) NULL,
	[BUYER_COMMISSION] [decimal](18, 2) NULL,
	[SELLER_COMMISSION] [decimal](18, 2) NULL,
	[NET_AMOUNT] [decimal](18, 2) NULL,
	[PAYMENT_STATUS] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PAYMENT_NUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seller]    Script Date: 11/30/2025 11:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seller](
	[SELLER_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NULL,
	[SERVICE_CATEGORY] [nvarchar](100) NOT NULL,
	[INDUSTRY_CERTIFICATION] [sql_variant] NOT NULL,
	[LICENSE_NO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SELLER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tender]    Script Date: 11/30/2025 11:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tender](
	[TENDER_ID] [int] IDENTITY(1,1) NOT NULL,
	[TENDER_TITLE] [nvarchar](200) NOT NULL,
	[TENDER_BUDGET] [decimal](18, 2) NULL,
	[TENDER_DESCRIPTION] [nvarchar](max) NULL,
	[TENDER_STATUS] [nvarchar](50) NULL,
	[PUBLISH_DATE] [date] NULL,
	[SUBMISSION_DEADLINE] [date] NULL,
	[CREATED_DATE] [datetime] NULL,
	[BUYER_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TENDER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 11/30/2025 11:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[TICKET_NUM] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NOT NULL,
	[TICKET_ISSUE_TYPE] [nvarchar](100) NULL,
	[TICKET_OPEN_DATE] [date] NULL,
	[TICKET_DESCRIPTION] [nvarchar](max) NULL,
	[TICKET_STATUS] [nvarchar](50) NULL,
	[TICKET_CLOSED_DATE] [date] NULL,
	[CS_MEMBER_ID] [int] NULL,
	[REPLY_MESSAGE] [nvarchar](max) NULL,
	[REPLY_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TICKET_NUM] ASC,
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 11/30/2025 11:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[USER_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_NAME] [nvarchar](100) NOT NULL,
	[PASSWORD] [nvarchar](255) NOT NULL,
	[EMAIL] [nvarchar](150) NOT NULL,
	[USER_TYPE] [nvarchar](50) NOT NULL,
	[USER-PHONE] [nchar](10) NULL,
	[USER_CITY] [nchar](20) NULL,
	[BANK_ACCOUNT] [nchar](20) NULL,
	[AUTHORIZATION_LETTER] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bid] ON 

INSERT [dbo].[Bid] ([BID_ID], [SUBMISSION_DATE], [PROPOSED_PRICE], [PROPOSED_TIMELINE], [BID_DESCRIPTION], [SELLER_ID], [TENDER_ID], [BID_STATUS]) VALUES (1, CAST(N'2025-10-11' AS Date), CAST(480000.00 AS Decimal(18, 2)), N'7 months', N'We will deliver with high quality.', 1, 1, N'under evaluation')
INSERT [dbo].[Bid] ([BID_ID], [SUBMISSION_DATE], [PROPOSED_PRICE], [PROPOSED_TIMELINE], [BID_DESCRIPTION], [SELLER_ID], [TENDER_ID], [BID_STATUS]) VALUES (2, CAST(N'2025-10-12' AS Date), CAST(495000.00 AS Decimal(18, 2)), N'6 months', N'Fast completion with top standards.', 2, 1, N'under evaluation')
INSERT [dbo].[Bid] ([BID_ID], [SUBMISSION_DATE], [PROPOSED_PRICE], [PROPOSED_TIMELINE], [BID_DESCRIPTION], [SELLER_ID], [TENDER_ID], [BID_STATUS]) VALUES (3, CAST(N'2025-10-03' AS Date), CAST(4.00 AS Decimal(18, 2)), N'3', N'adasd', 1, 11, N'under evaluation')
SET IDENTITY_INSERT [dbo].[Bid] OFF
GO
SET IDENTITY_INSERT [dbo].[Buyer] ON 

INSERT [dbo].[Buyer] ([BUYER_ID], [USER_ID], [PROCUREMENT_DEPARTMENT], [CR_CERTIFICATE_FILE]) VALUES (1, 1, N'Government Procurement Dept – Riyadh                                                                ', NULL)
INSERT [dbo].[Buyer] ([BUYER_ID], [USER_ID], [PROCUREMENT_DEPARTMENT], [CR_CERTIFICATE_FILE]) VALUES (2, 2, N'Strategic Sourcing Unit – Jeddah                                                                    ', NULL)
INSERT [dbo].[Buyer] ([BUYER_ID], [USER_ID], [PROCUREMENT_DEPARTMENT], [CR_CERTIFICATE_FILE]) VALUES (3, 5, N'Procurement & Contracts – Dammam                                                                    ', NULL)
SET IDENTITY_INSERT [dbo].[Buyer] OFF
GO
SET IDENTITY_INSERT [dbo].[Contract] ON 

INSERT [dbo].[Contract] ([CONTRACT_ID], [CONTRACT_VALUE], [START_DATE], [END_DATE], [PAYMENT_TERMS], [DELIVERY_SCHEDULE], [STATUS], [CONTRACT_DOCUMENT_URL], [BID_ID]) VALUES (1, CAST(480000.00 AS Decimal(18, 2)), CAST(N'2025-10-20' AS Date), CAST(N'2026-04-20' AS Date), N'Monthly installments', N'Stage delivery', N'Terminated', N'http://docs.com/contract1.pdf', 1)
INSERT [dbo].[Contract] ([CONTRACT_ID], [CONTRACT_VALUE], [START_DATE], [END_DATE], [PAYMENT_TERMS], [DELIVERY_SCHEDULE], [STATUS], [CONTRACT_DOCUMENT_URL], [BID_ID]) VALUES (2, CAST(495000.00 AS Decimal(18, 2)), CAST(N'2025-10-03' AS Date), CAST(N'2026-04-03' AS Date), N'30 days after delivery', N'6 months', N'Suspended', NULL, 2)
SET IDENTITY_INSERT [dbo].[Contract] OFF
GO
SET IDENTITY_INSERT [dbo].[Criteria] ON 

INSERT [dbo].[Criteria] ([CRITERIA_NUM], [TENDER_ID], [CRITERIA_NAME], [CRITERIA_DESCRIPTION], [WEIGHT], [DELIVERY_TIME]) VALUES (4, 2, N'Certification', N'ISO and medical compliance', CAST(0.40 AS Decimal(5, 2)), N'3 months')
INSERT [dbo].[Criteria] ([CRITERIA_NUM], [TENDER_ID], [CRITERIA_NAME], [CRITERIA_DESCRIPTION], [WEIGHT], [DELIVERY_TIME]) VALUES (5, 2, N'Warranty', N'Warranty on equipment', CAST(0.30 AS Decimal(5, 2)), N'3 months')
INSERT [dbo].[Criteria] ([CRITERIA_NUM], [TENDER_ID], [CRITERIA_NAME], [CRITERIA_DESCRIPTION], [WEIGHT], [DELIVERY_TIME]) VALUES (6, 2, N'Delivery', N'On-time delivery', CAST(0.30 AS Decimal(5, 2)), N'3 months')
SET IDENTITY_INSERT [dbo].[Criteria] OFF
GO
SET IDENTITY_INSERT [dbo].[CustomerSupport] ON 

INSERT [dbo].[CustomerSupport] ([CS_MEMBER_ID], [CS_MEMBER_FIRSTNAME], [CS_MEMBER_LASTNAME], [CS_MEMBER_PHONE], [CS_MEMBER_EMAIL], [USER_ID]) VALUES (1, N'Wasel', N'Support', N'+966512345678', N'support6@example.com', 6)
SET IDENTITY_INSERT [dbo].[CustomerSupport] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([FEEDBACK_NUM], [COMMENT], [FEEDBACK_DATE], [SELLER_ID], [BUYER_ID], [TENDER_ID], [RATING]) VALUES (1, N'Excellent work and timely delivery.', CAST(N'2025-11-02' AS Date), 1, 1, 1, NULL)
INSERT [dbo].[Feedback] ([FEEDBACK_NUM], [COMMENT], [FEEDBACK_DATE], [SELLER_ID], [BUYER_ID], [TENDER_ID], [RATING]) VALUES (2, N'gooood seller', CAST(N'2025-10-03' AS Date), 1, 1, 1, NULL)
SET IDENTITY_INSERT [dbo].[Feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[Invoice] ON 

INSERT [dbo].[Invoice] ([INVOICE_NUM], [INVOICE_TIME], [INVOICE_DATE], [PAYMENT_NUM], [CONTRACT_ID]) VALUES (1, CAST(N'16:14:16.8266667' AS Time), CAST(N'2025-11-01' AS Date), 1, NULL)
INSERT [dbo].[Invoice] ([INVOICE_NUM], [INVOICE_TIME], [INVOICE_DATE], [PAYMENT_NUM], [CONTRACT_ID]) VALUES (2, CAST(N'21:24:50' AS Time), CAST(N'2025-10-03' AS Date), 2, NULL)
INSERT [dbo].[Invoice] ([INVOICE_NUM], [INVOICE_TIME], [INVOICE_DATE], [PAYMENT_NUM], [CONTRACT_ID]) VALUES (3, CAST(N'03:20:32' AS Time), CAST(N'2025-10-04' AS Date), 3, NULL)
SET IDENTITY_INSERT [dbo].[Invoice] OFF
GO
SET IDENTITY_INSERT [dbo].[Message] ON 

INSERT [dbo].[Message] ([MESSAGE_NUM], [USER_ID], [MESSAGE_TEXT], [SENT_DATE], [SENDER_ID], [RECEIVER_ID], [IS_READ], [READ_AT], [MESSAGE_READ_STATUS]) VALUES (1, 3, N'sdf', CAST(N'2025-10-04T00:38:28.380' AS DateTime), 3, 1, 1, CAST(N'2025-10-04T01:17:59.717' AS DateTime), N'sent')
INSERT [dbo].[Message] ([MESSAGE_NUM], [USER_ID], [MESSAGE_TEXT], [SENT_DATE], [SENDER_ID], [RECEIVER_ID], [IS_READ], [READ_AT], [MESSAGE_READ_STATUS]) VALUES (2, 3, N'h', CAST(N'2025-10-04T00:47:04.910' AS DateTime), 3, 1, 1, CAST(N'2025-10-04T01:17:59.717' AS DateTime), N'sent')
INSERT [dbo].[Message] ([MESSAGE_NUM], [USER_ID], [MESSAGE_TEXT], [SENT_DATE], [SENDER_ID], [RECEIVER_ID], [IS_READ], [READ_AT], [MESSAGE_READ_STATUS]) VALUES (3, 1, N'how area you', CAST(N'2025-10-04T00:48:17.650' AS DateTime), 1, 3, 1, CAST(N'2025-10-04T01:17:35.380' AS DateTime), N'sent')
SET IDENTITY_INSERT [dbo].[Message] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([PAYMENT_NUM], [CONTRACT_ID], [PAYMENT_DATE], [AMOUNT], [BUYER_COMMISSION], [SELLER_COMMISSION], [NET_AMOUNT], [PAYMENT_STATUS]) VALUES (1, 1, CAST(N'2025-11-01' AS Date), CAST(80000.00 AS Decimal(18, 2)), CAST(2000.00 AS Decimal(18, 2)), CAST(3000.00 AS Decimal(18, 2)), CAST(75000.00 AS Decimal(18, 2)), N'Paid')
INSERT [dbo].[Payment] ([PAYMENT_NUM], [CONTRACT_ID], [PAYMENT_DATE], [AMOUNT], [BUYER_COMMISSION], [SELLER_COMMISSION], [NET_AMOUNT], [PAYMENT_STATUS]) VALUES (2, 2, CAST(N'2025-10-03' AS Date), CAST(1000.00 AS Decimal(18, 2)), CAST(10.00 AS Decimal(18, 2)), CAST(10.00 AS Decimal(18, 2)), CAST(990.00 AS Decimal(18, 2)), N'Completed')
INSERT [dbo].[Payment] ([PAYMENT_NUM], [CONTRACT_ID], [PAYMENT_DATE], [AMOUNT], [BUYER_COMMISSION], [SELLER_COMMISSION], [NET_AMOUNT], [PAYMENT_STATUS]) VALUES (3, 1, CAST(N'2025-10-04' AS Date), CAST(1000.00 AS Decimal(18, 2)), CAST(10.00 AS Decimal(18, 2)), CAST(10.00 AS Decimal(18, 2)), CAST(990.00 AS Decimal(18, 2)), N'Completed')
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[Seller] ON 

INSERT [dbo].[Seller] ([SELLER_ID], [USER_ID], [SERVICE_CATEGORY], [INDUSTRY_CERTIFICATION], [LICENSE_NO]) VALUES (1, 3, N'Construction & Civil Works', CAST(Convert(text, N'ISO 9001 Certified') AS varchar(18)), 562301)
INSERT [dbo].[Seller] ([SELLER_ID], [USER_ID], [SERVICE_CATEGORY], [INDUSTRY_CERTIFICATION], [LICENSE_NO]) VALUES (2, 4, N'IT Solutions & Software Development', CAST(Convert(text, N'ISO 27001 – Information Security') AS varchar(32)), 784112)
INSERT [dbo].[Seller] ([SELLER_ID], [USER_ID], [SERVICE_CATEGORY], [INDUSTRY_CERTIFICATION], [LICENSE_NO]) VALUES (3, 5, N'Logistics & Transportation', CAST(Convert(text, N'Trade License Verified') AS varchar(22)), 451909)
SET IDENTITY_INSERT [dbo].[Seller] OFF
GO
SET IDENTITY_INSERT [dbo].[Tender] ON 

INSERT [dbo].[Tender] ([TENDER_ID], [TENDER_TITLE], [TENDER_BUDGET], [TENDER_DESCRIPTION], [TENDER_STATUS], [PUBLISH_DATE], [SUBMISSION_DEADLINE], [CREATED_DATE], [BUYER_ID]) VALUES (1, N'Construction of School', CAST(500000.00 AS Decimal(18, 2)), N'<p>Build a new <b>primary school</b> with modern facilities.</p>', N'Closed', CAST(N'2025-10-01' AS Date), CAST(N'2025-11-01' AS Date), CAST(N'2025-10-03T16:12:32.263' AS DateTime), 1)
INSERT [dbo].[Tender] ([TENDER_ID], [TENDER_TITLE], [TENDER_BUDGET], [TENDER_DESCRIPTION], [TENDER_STATUS], [PUBLISH_DATE], [SUBMISSION_DEADLINE], [CREATED_DATE], [BUYER_ID]) VALUES (2, N'Supply of Medical Equipment', CAST(250000.00 AS Decimal(18, 2)), N'<p>Provide <i>high-quality</i> medical devices for hospitals.</p>', N'Open', CAST(N'2025-10-02' AS Date), CAST(N'2025-11-05' AS Date), CAST(N'2025-10-03T16:12:32.263' AS DateTime), 2)
INSERT [dbo].[Tender] ([TENDER_ID], [TENDER_TITLE], [TENDER_BUDGET], [TENDER_DESCRIPTION], [TENDER_STATUS], [PUBLISH_DATE], [SUBMISSION_DEADLINE], [CREATED_DATE], [BUYER_ID]) VALUES (3, N'IT Infrastructure Upgrade', CAST(150000.00 AS Decimal(18, 2)), N'<p>Upgrade servers, networking, and <b>cybersecurity</b>.</p>', N'Open', CAST(N'2025-10-03' AS Date), CAST(N'2025-11-07' AS Date), CAST(N'2025-10-03T16:12:32.263' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Tender] OFF
GO
SET IDENTITY_INSERT [dbo].[Ticket] ON 

INSERT [dbo].[Ticket] ([TICKET_NUM], [USER_ID], [TICKET_ISSUE_TYPE], [TICKET_OPEN_DATE], [TICKET_DESCRIPTION], [TICKET_STATUS], [TICKET_CLOSED_DATE], [CS_MEMBER_ID], [REPLY_MESSAGE], [REPLY_DATE]) VALUES (2, 3, N'Account Issue', CAST(N'2025-10-04' AS Date), N'i have issue with update account', N'Closed', CAST(N'2025-10-04' AS Date), NULL, N'ok', CAST(N'2025-10-04T03:14:39.990' AS DateTime))
SET IDENTITY_INSERT [dbo].[Ticket] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([USER_ID], [USER_NAME], [PASSWORD], [EMAIL], [USER_TYPE], [USER-PHONE], [USER_CITY], [BANK_ACCOUNT], [AUTHORIZATION_LETTER]) VALUES (1, N'Haya AlthaibanS', N'$2y$10$aKhNNNXlP3R96DfwJdPTn.ew6scWdg2tSCSUUNwGzaP/SRpqOEtCG', N'haya@example.com', N'buyer', N'0539128473', N'Riyadh              ', N'12345678901234      ', NULL)
INSERT [dbo].[User] ([USER_ID], [USER_NAME], [PASSWORD], [EMAIL], [USER_TYPE], [USER-PHONE], [USER_CITY], [BANK_ACCOUNT], [AUTHORIZATION_LETTER]) VALUES (2, N'Fatimah Al Sahaw', N'$2y$10$aKhNNNXlP3R96DfwJdPTn.ew6scWdg2tSCSUUNwGzaP/SRpqOEtCG', N'fatimah@example.com', N'buyer', N'0583349217', N'Jeddah              ', N'23456789012345      ', NULL)
INSERT [dbo].[User] ([USER_ID], [USER_NAME], [PASSWORD], [EMAIL], [USER_TYPE], [USER-PHONE], [USER_CITY], [BANK_ACCOUNT], [AUTHORIZATION_LETTER]) VALUES (3, N'Bushra Alghamdi', N'$2y$10$aKhNNNXlP3R96DfwJdPTn.ew6scWdg2tSCSUUNwGzaP/SRpqOEtCG', N'bushra@example.com', N'seller', N'0567712049', N'Dammam              ', N'34567890123456      ', NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__C7576FA347792551]    Script Date: 11/30/2025 11:12:21 PM ******/
ALTER TABLE [dbo].[CustomerSupport] ADD UNIQUE NONCLUSTERED 
(
	[CS_MEMBER_EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__161CF7249F1F317A]    Script Date: 11/30/2025 11:12:21 PM ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bid] ADD  DEFAULT ('under evaluation') FOR [BID_STATUS]
GO
ALTER TABLE [dbo].[Message] ADD  DEFAULT (getdate()) FOR [SENT_DATE]
GO
ALTER TABLE [dbo].[Message] ADD  DEFAULT ((0)) FOR [IS_READ]
GO
ALTER TABLE [dbo].[Message] ADD  DEFAULT ('sent') FOR [MESSAGE_READ_STATUS]
GO
ALTER TABLE [dbo].[Seller] ADD  DEFAULT ('') FOR [SERVICE_CATEGORY]
GO
ALTER TABLE [dbo].[Seller] ADD  DEFAULT ('') FOR [INDUSTRY_CERTIFICATION]
GO
ALTER TABLE [dbo].[Seller] ADD  DEFAULT ((0)) FOR [LICENSE_NO]
GO
ALTER TABLE [dbo].[Tender] ADD  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[Bid]  WITH CHECK ADD FOREIGN KEY([SELLER_ID])
REFERENCES [dbo].[Seller] ([SELLER_ID])
GO
ALTER TABLE [dbo].[Bid]  WITH CHECK ADD FOREIGN KEY([TENDER_ID])
REFERENCES [dbo].[Tender] ([TENDER_ID])
GO
ALTER TABLE [dbo].[Buyer]  WITH CHECK ADD  CONSTRAINT [FK_Buyer_User] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[User] ([USER_ID])
GO
ALTER TABLE [dbo].[Buyer] CHECK CONSTRAINT [FK_Buyer_User]
GO
ALTER TABLE [dbo].[Contract]  WITH CHECK ADD FOREIGN KEY([BID_ID])
REFERENCES [dbo].[Bid] ([BID_ID])
GO
ALTER TABLE [dbo].[Criteria]  WITH CHECK ADD FOREIGN KEY([TENDER_ID])
REFERENCES [dbo].[Tender] ([TENDER_ID])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([BUYER_ID])
REFERENCES [dbo].[Buyer] ([BUYER_ID])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([SELLER_ID])
REFERENCES [dbo].[Seller] ([SELLER_ID])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([TENDER_ID])
REFERENCES [dbo].[Tender] ([TENDER_ID])
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD FOREIGN KEY([PAYMENT_NUM])
REFERENCES [dbo].[Payment] ([PAYMENT_NUM])
GO
ALTER TABLE [dbo].[Message]  WITH CHECK ADD FOREIGN KEY([RECEIVER_ID])
REFERENCES [dbo].[User] ([USER_ID])
GO
ALTER TABLE [dbo].[Message]  WITH CHECK ADD FOREIGN KEY([SENDER_ID])
REFERENCES [dbo].[User] ([USER_ID])
GO
ALTER TABLE [dbo].[Message]  WITH CHECK ADD FOREIGN KEY([USER_ID])
REFERENCES [dbo].[User] ([USER_ID])
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([CONTRACT_ID])
REFERENCES [dbo].[Contract] ([CONTRACT_ID])
GO
ALTER TABLE [dbo].[Seller]  WITH CHECK ADD  CONSTRAINT [FK_Seller_User] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[User] ([USER_ID])
GO
ALTER TABLE [dbo].[Seller] CHECK CONSTRAINT [FK_Seller_User]
GO
ALTER TABLE [dbo].[Tender]  WITH CHECK ADD FOREIGN KEY([BUYER_ID])
REFERENCES [dbo].[Buyer] ([BUYER_ID])
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD FOREIGN KEY([CS_MEMBER_ID])
REFERENCES [dbo].[CustomerSupport] ([CS_MEMBER_ID])
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD FOREIGN KEY([USER_ID])
REFERENCES [dbo].[User] ([USER_ID])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD CHECK  (([RATING]>=(1) AND [RATING]<=(5)))
GO
USE [master]
GO
